package {{PACKAGE}}

import org.springframework.boot.autoconfigure.SpringBootApplication
import org.springframework.boot.runApplication

@SpringBootApplication
class {{APPLICATION_CLASS}}

fun main(args: Array<String>) {
    runApplication<{{APPLICATION_CLASS}}>(*args)
}
